.toolbar {
    padding: 0 16px;
    width: 200px;
    height: 100vh;
    background-color: #4F4F4F;
    color: #ffffff;
}

.toolbar-container {
    display: flex;
}

.toolbar-shape-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #3A3A3A;
    margin: 4px;
    display: flex;
}

.toolbar-shape-button:hover {
    background-color: #000000;
}