@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque');

body {
    font-family: 'Darker Grotesque', sans-serif;
    background: white;
    margin: 0;
    padding: 0;
}

.app-wrapper {
    display: flex;
}